* {
    padding: 0;
    margin: 0;
}


/* #cadb36  #594096 #1c191a*/

body {
    width: 100%;
    height: 100%;
}

#wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

header {
    text-align: center;
    /* 내부 요소들을 가운데로 정렬 */
    height: 140px;
    width: 100%;
    background-color: #e5f2f7;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(221, 222, 224);
    width: 100%;
    height: 335px;
}


/* -------------------------------------------------------------------------------------- */

.container {
    max-width: 1000px;
    width: 1000px;
    background-color: #fcfaf7;
    /* 다 해보고 지저분해보이면 뺄 예정 */
    box-sizing: border-box;
    padding: 40px;
    min-width: 1000px;
}


/* 컨텐츠영역 보느라 넣어둔것 지우고 알아서 쓰세욤 */

.banner {
    background-color: rgb(224, 224, 224);
    width: 920px;
    height: 1000px;
    border-radius: 6px;
    padding-bottom: 16px;
}

.comment_banner {
    background-color: rgb(224, 224, 224);
    width: 920px;
    height: 100px;
    border-radius: 6px;
}


/* --------------------메인 컨텐츠 영역 ---------------------- */

.detail_page1_3_3 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 3px solid gray;
}

.dot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dot {
    height: 2px;
    width: 2px;
    background-color: gray;
    border-radius: 100%;
    margin: 2px 0;
}

.detail_page1_1 {
    padding-top: 40px;
    padding-bottom: 47px;
}

.detail_page1_2 {
    height: 50px;
    background-color: darksalmon;
    font-size: 20px;
    font-weight: bolder;
    line-height: 50px;
    padding-left: 30px;
    width: 40%;
}

.detail_page1_4 {
    display: flex;
    padding-top: 20px;
    height: 100px;
    font-size: 20px;
    align-items: center;
}

.detail_page1_4 img {
    margin-right: 20px;
}

.detail_page1_4 h2 {
    margin-right: 20px;
}

.detail_page1_3 {
    padding-bottom: 16px;
}

.textarea {
    resize: none;
}

.detail1_text {
    padding-bottom: 16px;
}

.detail_page1_5 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bolder;
}

#detail_text2 {
    background-color: rgb(224, 224, 224);
    width: 920px;
    height: 100px;
    border-radius: 6px;
}

#detail1_text1 {
    background-color: rgb(224, 224, 224);
    width: 920px;
    height: 1000px;
    border-radius: 6px;
    padding-bottom: 16px;
}

#detail_text2::placeholder {
    color: gray;
    font-size: 16px;
    padding-left: 10px;
}

#detail1_text1::placeholder {
    color: gray;
    font-size: 16px;
    padding-left: 10px;
}

.detail_page1_6_1 {
    font-size: 20px;
    border-radius: 6px;
    border: none;
    width: 100px;
    text-align: center;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
}

.detail_page1_6 {
    padding-top: 6px;
    margin-left: auto;
    text-align: right;
    font-weight: bolder;
    padding-bottom: 6px;
}

.detail_page1_3_4 {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 1px solid gray;
}

.detail_comment_1_1 {
    display: flex;
    align-items: center;
}

.detail_comment_1_1 img {
    margin-right: 10px;
    /* 이미지 오른쪽에 간격 추가 */
}

.detail_comment_1_2 {
    display: flex;
    align-items: center;
}

.detail_comment_1 {
    display: flex;
    justify-content: space-between;
}

.detail_comment_2_2 {
    display: flex;
    align-items: center;
}

.detail_comment_2_3 {
    display: flex;
    padding-top: 20px;
}

.detail_comment_2_1 {
    display: flex;
    justify-content: space-between;
}

.detail_comment_3_2 {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
}

.detail_comment_3_3 {
    display: flex;
}

.detail_comment_3_1 {
    display: flex;
    justify-content: space-between;
}

.detail_comment_4_2 {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.detail_comment_4_3 {
    display: flex;
    padding-top: 20px;
}

.detail_comment_4_1 {
    display: flex;
    justify-content: space-between;
}

.detail_comment_5_2 {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.detail_comment_5_3 {
    display: flex;
    padding-top: 20px;
}

.detail_comment_5_1 {
    display: flex;
    justify-content: space-between;
}

.detail_comment_6_1 {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
}

.detail_comment_6_2 {
    display: flex;
    padding-top: 20px;
}

.detail_comment_6 {
    display: flex;
    justify-content: space-between;
}

.detail_comment_num {
    height: 84px;
}

.detail_nickname {
    font-size: 15px;
    color: black;
    font-weight: bold;
    padding-right: 10px;
}

.detail_nickname1 {
    font-size: 11px;
    color: #2C95BE;
    border-radius: 50px;
    width: 58px;
    height: 20px;
    border: 1px solid #2C95BE;
    text-align: center;
    line-height: 20px;
}

.detail_delete {
    font-size: 10px;
    margin-right: 5px;
    color: gray;
}

.detail_date {
    font-size: 9px;
}

.detail_comment_1_2 h2 {
    margin-right: 5px;
    align-items: center;
}

.detail_comment_1_3 {
    padding-left: 40px;
    padding-top: 10px;
}

.detail_comment_2_2 img {
    margin-right: 10px;
}

.detail_comment_2_2 {
    padding-left: 30px;
    padding-top: 10px;
}

.detail_comment_2_4 {
    padding-left: 40px;
    padding-top: 10px;
}

.detail_comment_3_2 img {
    margin-right: 10px;
}

.detail_comment_3_3 {
    padding-left: 30px;
    padding-top: 20px;
}

.detail_comment_3_4 {
    padding-left: 40px;
    padding-top: 10px;
}

.detail_comment_4_2 img {
    margin-right: 10px;
}

.detail_comment_5_2 img {
    margin-right: 10px;
}

.detail_comment_6_1 img {
    margin-right: 10px;
}

.detail_comment_4_4 {
    padding-left: 40px;
    padding-top: 10px;
}

.detail_comment_5_4 {
    padding-left: 40px;
    padding-top: 10px;
}

.detail_comment_6_3 {
    padding-left: 40px;
    padding-top: 10px;
}

.detail_date {
    margin-right: 10px;
}

.detail_page1_0 {
    display: flex;
    justify-content: space-between;
}

.detail_page1_1_1 {
    display: flex;
    padding-top: 40px;
    padding-bottom: 47px;
}

a {
    color: black;
}

.detail_page1_6_1:hover {
    background-color: saddlebrown;
    transition: 0.7s;
}


/* ----------1 2 3 4 5 ----------- */

.wrapper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    font-size: 12px;
}

.chevron-left {
    width: 10px;
    height: 10px;
    overflow: hidden;
    padding: 10px;
    transform: rotate(90deg);
}

.chevron-left img {
    width: 100%;
    height: 100%;
}

.chevron-right {
    width: 10px;
    height: 10px;
    overflow: hidden;
    padding: 10px;
    transform: rotate(-90deg);
}

.chevron-right img {
    width: 100%;
    height: 100%;
}