
body{
  margin: 0;
  padding: 0;
}

main{
  width: 920px;
    background-color: #fcfaf7;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
}

a{
  text-decoration: none;
}

#header {
  display: flex;
  height: 140px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

header {
  text-align: center; 
  height: 100%;
  width: 100%;
  background-color: #e5f2f7;
}

.profile-background{
  position: relative;
}

.profile-background > img{
  width: 100%;
  height: 165.5px;
  border-radius: 6px 6px 0 0;
}

.profile{
  position: absolute;
  top: 90px;
  /* width: 100px; */
  display: flex;
  align-items: center;
  margin-left: 25px;  
}

.profile > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile-detail{
  display: flex;
  align-items: center;
  height: 36px;
}

.profile-detail  > p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  font-size: 25px;
  color: white;
  height: 100%;
}
.profile-heart img{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.follower{
  font-size: 12px;
}

.follower-number{
  font-size: 18px;
}

.profile-text{
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-left: 120px;
  margin-top: 10px;
}

.profile-introduce{
  width: 600px;
  /* margin-top: ; */
  margin-left: 40px;
}

.profile-introduce > p{
  margin: 0;
  line-height: 2;
}

.write-button > button{
  width: 90px;
  height: 35px;
  color: white;
  background-color: #4C6791;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.write-button > button:hover{
  background-color: #D9E9F8;
  color:#4c6791; ;
  cursor: pointer;
}

.second-container{
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

.second-container-comment{
  background-color: #e5f2f7;
  height: 27px;
  width: 120px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container-comment > a{
  font-weight: 900;
  font-size: 13px;
  color: black;
}

.second-container-comment:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}

.second-container-like{
  background-color: #e5f2f7;
  height: 27px;
  width: 100px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container-like > a{
  font-weight: 900;
  font-size: 13px;
  color: black;
  
}

.second-container-like:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}

.second-container-user{
  background-color: #e5f2f7;
  height: 27px;
  width: 120px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container-user > a{
  font-weight: 900;
  font-size: 13px;
  color: black;
  
}

.second-container-user:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}

.second-container-alarm{
  background-color: #e5f2f7;
  height: 27px;
  width: 80px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container-alarm > a{
  font-weight: 900;
  font-size: 13px;
  color: black;
  
}

.second-container-alarm:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}

hr{
  opacity: 0.3
}

.third-container{
  margin-top: 20px;
}

.third-container-category{
  display: flex;
  
}

.infancy{
  background-color: rgb(206, 200, 200);
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-right: 6px;
}

.infancy > a{
  color: black;
  font-size: 12px;
}

.infancy:hover{
  background-color: #AAB286;
}

.infancy > a:hover{ 
  color: #E7E9DC;
}


.babyhood{
  background-color: rgb(206, 200, 200);
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-right: 6px;
}

.babyhood > a{
  color: black;
  font-size: 12px;
}

.babyhood:hover{
  background-color: #AAB286;
}

.babyhood > a:hover{ 
  color: #E7E9DC;
}

.childhood{
  background-color: rgb(206, 200, 200);
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-right: 6px;
}

.childhood > a{
  color: black;
  font-size: 12px;
}

.childhood:hover{
  background-color: #AAB286;
}

.childhood > a:hover{ 
  color: #E7E9DC;
}

.adolescence{
  background-color: rgb(206, 200, 200);
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-right: 6px;
}

.adolescence > a{
  color: black;
  font-size: 12px;
}

.adolescence:hover{
  background-color: #AAB286;
}

.adolescence > a:hover{ 
  color: #E7E9DC;
}

.adult{
  background-color: rgb(206, 200, 200);
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-right: 6px;
}

.adult > a{
  color: black;
  font-size: 12px;
}

.adult:hover{
  background-color: #AAB286;
}

.adult > a:hover{ 
  color: #E7E9DC;
}

.middle-age{
  background-color: rgb(206, 200, 200);
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-right: 6px;
}

.middle-age > a{
  color: black;
  font-size: 12px;
}

.middle-age:hover{
  background-color: #AAB286;
}

.middle-age > a:hover{ 
  color: #E7E9DC;
}

.old-age{
  background-color: rgb(206, 200, 200);
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-right: 6px;
}

.old-age > a{
  color: black;
  font-size: 12px;
}

.old-age:hover{
  background-color: #AAB286;
}

.old-age > a:hover{ 
  color: #E7E9DC;
}

.fourth-container{
  margin-top: 60px;
  
}

.list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-one{
  border: 1px solid rgb(230, 216, 216);
  background-color: #fcfaf7;
  width: 284px;
  height: 300px;
  box-shadow: 5px 5px 5px grey;
  margin-right: 20px;
  margin-bottom: 38px;
}

.list-one > a{
  color: black;
}

.list-one-detail{
  margin: 40px 24px 24px 24px;
  
}

.list-one:hover{
  background-color: #F2F1F0;
}

.title{
  display: flex;
  justify-content: space-between;
}

.title > h3{
  font-size: 17px;
  font-weight: bold;
}

.title > p{
  font-size: 11px;
  color: rgb(206, 211, 211);
}

.list-date{
  margin-top: 20px;
  font-size: 11px;
}

.list-text{
  margin-top: 25px;
  line-height: 1.8;
  font-size: 14px;
}

.fifth-container{
  margin-top: 105px;
  /* margin-bottom: 50px; */
  /* background-color: aqua; */
  padding-bottom: 50px;

}

.pagination{
  display: flex;
  /* background-color: black; */
  width: 200px;
  margin: 0 auto;
  
}

.pagination > li{
  padding-right: 14px;
  font-size: 20px;
  
  
}

footer {
  background-color: rgb(221, 222, 224);
  width: 100%;
  height: 335px;
}




