.profile-background{
  position: relative;
}

.profile-background > img{
  width: 100%;
  border-radius: 6px 6px 0 0;
  height: 165.5px;
}

.profile{
  position: absolute;
  top: 90px; 
  /* width: 100px; */
  display: flex;
  align-items: center;
  margin-left: 25px;  
}

.profile > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile-detail{
  display: flex;
  align-items: center;
  height: 36px;
}

.profile-detail  > p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  font-size: 25px;
  color: white;
  height: 100%;
}

.follower{
  font-size: 12px;
}

.follower-number{
  font-size: 18px;
}

.profile-text{
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-left: 120px;
  margin-top: 10px;
}

.profile-heart img{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.profile-introduce{
  width: 600px;
  /* margin-top: ; */
  margin-left: 40px;
}

.profile-introduce > p{
  margin: 0;
  line-height: 2;
}

.write-button{
  
}

.write-button > button{
  width: 90px;
  height: 35px;
  color: #D9E9F8;
  font-weight: bolder;
  background-color: #4c6791;
  border: none;
  border-radius: 10px;
}
.write-button > button:hover{
  background-color: #D9E9F8;
  color:#4c6791; ;
  cursor: pointer;
}

.second-container{
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

.second-container-comment{
  background-color: #e5f2f7;
  height: 27px;
  width: 120px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container-comment > a{
  font-weight: 900;
  font-size: 13px;
  color: black;
}
.second-container-comment:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}
.second-container-like{
  background-color: #e5f2f7;
  height: 27px;
  width: 100px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container-like > a{
  font-weight: 900;
  font-size: 13px;
  color: black;
  
}
.second-container-like:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}
.second-container-user{
  background-color: #e5f2f7;
  height: 27px;
  width: 120px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container-user > a{
  font-weight: 900;
  font-size: 13px;
  color: black;
  
}
.second-container-user:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}
.second-container-alarm{
  background-color: #e5f2f7;
  height: 27px;
  width: 80px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container-alarm > a{
  font-weight: 900;
  font-size: 13px;
  color: black;
  
}
.second-container-alarm:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}
hr{
  opacity: 0.3
}


/* 

수정해야할 내용
  1. 좋아요 목록 
  디브 패딩값이랑 안쪽 디브 크기를 맞추는 방법을 변경


*/




/* 좋아요 목록 큰 박스 */

.like-list-box{
  /* background-color: aquamarine; */
  height: 760px;
}

/* 좋아요 목록 제목 박스 */
.like-paragraph{
  /* background-color: lightblue; */
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100px;
}
.like-paragraph p{
  font-size: 22px;
  font-weight: bolder;
}

/* 좋아요 박스  */
.like-list{
  /* background-color: lightcyan; */
  display: flex;
  justify-content: space-between;
  height: 575px;
} 

.like-list-hr{
  border: 1px solid rgb(188, 185, 185);
}
/* 좋아요 왼쪽 박스 */
.like-contents-left{
  /* background-color: lightgray; */
  border-radius: 6px;
  width: 450px;
}
.like-contents-left li{
  background-color: #F2F3F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.like-content-left-list{
  display: flex;
  height: 56px;
  /* width: 100%; */
  align-items: center;
}
.like-content-left-list img{
  width: 15px;
}
.like-content-left-list img,.like-content-left-list  p{
  margin-right: 10px;
  margin-left: 10px;
}
.like-content-left-nickname{
  font-weight: bolder ;
}
.like-content-left-nickname a{
  color: black;
}

.like-content-left-title{
  font-weight: bolder;
}
.like-content-left-title a{
  color: black;
}

.like-contents-left > li:nth-of-type(1){
  border-radius: 6px 6px 0 0;
}

.like-contents-left > li:nth-of-type(10){
  border-radius: 0 0 6px 6px;
}


/* 좋아요 오른쪽 박스 */
.like-contents-right{
  background-color: #F2F3F2;
  border-radius: 6px;
  width: 450px;
}
.like-contents-right li{
  /* background-color: rgb(232, 227, 227); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like-contents-right > li:nth-of-type(1){
  border-radius: 6px 6px 0 0;
}

.like-contents-right > li:nth-of-type(10){
  border-radius: 0 0 6px 6px;
}
.like-content-left-list-2 {
  display: flex;
  height: 56px;
  /* width: 100%; */
  align-items: center;
}
.like-content-left-list-2 img, .like-content-left-list-2 p{
  margin-right: 5px;
  margin-left: 10px;
}
.like-right-profile{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  
}
.like-content-left-nickname-right a{
  font-weight: bolder;
  color: black;
}




/* 페이지 네이션 박스 */
.like-pagination-buttons{
  /* background-color: lightcoral; */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.like-pagination-buttons-left{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.like-pagination-buttons-left button{
  border: none;
  background-color:#FCFAF7 ;
  cursor: pointer;
}
.like-pagination-buttons-right{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.like-pagination-buttons-right button{
  border: none;
  background-color:#FCFAF7 ;
  cursor: pointer;
}
.like-pagination-buttons-left span a{
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}
.like-pagination-buttons-right span a{
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}
.like-pagination-buttons-left img{
  width: 30px;
  height: 30px;
}
.like-pagination-buttons-right img{
  width: 30px;
  height: 30px;
}
.pagination-left-arrow{
  transform: scaleX(-1);
}