button[type="button"]{
    border: none;
    background-color: #fcfaf7;
}
button[type="button"]:hover{
    cursor: pointer;
}
.inquiry-container{
    margin: 0 auto;
    padding: 100px 40px;
    /* border: 1px solid black; */
    height: 1300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.inquiry-wrap1{
    /* border: 1px solid black; */
    height: 40px;
    margin-bottom: 20px;
}
.inquiry-selector{
    margin-bottom: 10px;
}
.inquiry-selector button{
    height: 100%;
    font-size: 28px;
    font-weight: bold;
}
.inquiry-title button{
    margin-left: 15px;
    color: rgba(126, 143, 216);
}
.notification-title{
    opacity: 0.5;
}
.inquiry-wrap2{
    /* border: 1px solid black; */
    height: 570px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.inquiry-contents{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 65px;
    line-height: 65px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.contents-title a{
    color: black;
}
.contents-form{
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 40px;
    border-bottom: none;
}
.contents-number{
    display: inline-block;
    /* border: 1px solid black; */
    width: 60px;
}
.contents-writer{
    display: inline-block;
    width: 100px;
}
.contents-date{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.inquiry-paging{
    margin: 40px auto 120px auto;
    display: flex;
    width: 150px;
    /* border: 1px solid black; */
    justify-content: space-around;
}
.inquiry-paging a{
    color: black;
}
.paging-backward{
    display: none;
}
.paging-forward{
    display: block;
}
.inquiry-banner{
    height: 220px;
}
.inquiry-banner img{
    width: 100%;
    height: 220px;
    border-radius: 6px;
}