input[type="text"]{
    font-family: 'Noto Sans KR';
}
textarea{
    font-family: 'Noto Sans KR';
}
select{
    font-family: 'Noto Sans KR';
}
button[type="button"]{
    border: none;
    background-color: #fcfaf7;
}
button[type="button"]:hover{
    cursor: pointer;
}
.inquiry-container{
    margin: 0 auto;
    padding: 100px 40px;
    /* border: 1px solid black; */
    height: 1300px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.inquiry-wrap1{
    /* border: 1px solid black; */
    height: 40px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
    position: relative;
}
.inquiry-button{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 14px;
}
.inquiry-button button[type="button"]{
    font-size: 14px;
}
.inquiry-selector{
    margin-bottom: 10px;
    position: relative;
}
.inquiry-modal{
    box-shadow: 1px 1px 10px 2px gray;
    width: 680px;
    height: 360px;
    /* border: 1px solid black; */
    position: absolute;
    right: 16%;
    background-color: aliceblue;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    padding-top: 70px;
}
.modal-main-img{
    position: absolute;
    top: 20px;
    left: 30px;
}
.modal-main-img img{
    width: 120px;
    height: 60px;
}
.inquiry-modal-nickname{
    /* border: 1px solid black; */
    float: left;
    width: 52%;
    margin-bottom: 10px;
    font-size: 14px;
}
.inquiry-modal-title input[type="text"]{
    width: 180px;
    height: 30px;
} 
.inquiry-modal-title span{
    float: right;
}
.inquiry-modal-title select{
    height: 35px;
}
.inquiry-modal-btns{
    margin: 30px auto 0 auto;
    width: 160px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around ;
}
.inquiry-modal-btns button[type="button"]{
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    /* border: 1px solid black; */
    border-radius: 6px;
    height: 30px;
    width: 70px;
}
.inquiry-modal-btns button[type="submit"]{
    font-size: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1 );
    /* border: 1px solid black; */
    border-radius: 6px;
    height: 30px;
    width: 70px;
}
.inquiry-modal-btns button[type="button"]:hover{
    cursor: pointer;
}
.inquiry-modal-btns button[type="submit"]:hover{
    cursor: pointer;
}

.inquiry-modal-content{
    margin-top: 30px;
}
.inquiry-selector button{
    height: 100%;
    font-size: 25px;
    font-weight: bold;
}
.inquiry-title button{
    margin-left: 15px;
    color: rgba(126, 143, 216);
}
.notification-title{
    opacity: 0.5;
}
.inquiry-wrap2{
    /* border: 1px solid black; */
    height: 570px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.inquiry-contents{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 64px;
    line-height: 64px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.contents-title button[type="button"]{
    /* border: 1px solid black; */
    background-color: white;
    /* color: black; */
    font-size: 16px;
    /* font-weight: 550; */
    font-family: 'Noto Sans KR';
}

.contents-form{
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 48px;
    border-bottom: none;
}
.contents-number{
    display: inline-block;
    /* border: 1px solid black; */
    width: 60px;
}

.contents-writer{
    display: inline-block;
    width: 100px;
}
.contents-date{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.inquiry-paging{
    margin: 40px auto 120px auto;
    display: flex;
    width: 150px;
    /* border: 1px solid black; */
    font-size: 14px;
    justify-content: space-around;
}
.inquiry-paging a{
    color: black;
}
.paging-backward{
    display: none;
}
.paging-forward{
    display: block;
}
.inquiry-banner{
    height: 175px;
}
.inquiry-banner img{
    width: 100%;
    height: 175px;
    border-radius: 6px;
}
#inquiry-modal-answer{
    box-shadow: 1px 1px 10px 2px gray;
    display: none;
    width: 680px;
    height: 360px;
    /* border: 1px solid black; */
    position: absolute;
    right: 16%;
    top: 20%;
    background-color: aliceblue;
    padding: 80px 30px 0 30px;
}
.inquiry-modal-answer-title-box{
    /* display: flex; */
    /* flex-direction: column; */
    width: 80%;
    /* border: 1px solid black; */
    margin: 20px auto 30px auto;
}
.inquiry-modal-answer-title{
    font-size: 25px;
    font-weight: bold;
}
.inquiry-modal-answer-visibility{
    float: right;
    /* display: inline-block; */
    /* border: 1px solid red; */
    text-align: right;
    background-color: rgba(0, 0, 0, 0.1 );
    border-radius: 6px;
    font-size: 12px;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.inquiry-modal-answer-content{
    margin-top: 20px;
}
.inquiry-modal-answer-answer{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.inquiry-modal-answer-answer p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.inquiry-modal-answer-btns{
    margin: 80px auto 0 auto;
    width: 160px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around ;
}
.inquiry-modal-answer-delete{
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    /* border: 1px solid black; */
    border-radius: 6px;
    height: 30px;
    width: 70px;
}
.inquiry-modal-answer-exit{
    font-size: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1 );
    /* border: 1px solid black; */
    border-radius: 6px;
    height: 30px;
    width: 70px;
}