* {
  padding: 0;
  margin: 0;
}
/* #cadb36  #594096 #1c191a*/
body {
  width: 100%;
  height: 100%;
}
#wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
header {
  text-align: center; /* 내부 요소들을 가운데로 정렬 */
  height: 140px;
  width: 100%;
  background-color: #e5f2f7;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(221, 222, 224);
  width: 100%;
  height: 335px;
}

/* -------------------------------------------------------------------------------------- */




.container {
  margin-top: 110px;
  /* background-color: aqua; */
  box-sizing: border-box;
  padding: 40px;
  min-width: 1000px;
  margin-bottom: 642px;
}

.password-find {
  
  /* background-color: rgb(224, 224, 224); */
  height: 339px;
  border-radius: 6px;
}

.title{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;

}

.text{
  margin-top: 50px;
  margin-left: 330px;
  color: black;
  font-weight: 700;
  font-size: 15px;
}

.email{
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* margin-bottom: 500px; */

  
}

.email > input{
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  background-color: rgb(242, 242, 246);
  width: 250px;
  height: 50px;
}

.email > button{
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #102C57;
  width: 100px;
  height: 50px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
